.LeftNavigation {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    height: 700px;
    width: 360px;
    background-color: red;
}

.btn {
    &--navigation {
        padding: 1rem 2rem;
        color: #CC6733;
        border: 1px solid #CC6733;
    }
}